@media (max-width: 500px) {
    .navbar li {
      padding: 15px;
    }
  
    .post {
      margin-right: 20px;
      margin-left: 20px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }